<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>异常设备信息</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script type="text/javascript"
	src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="../js/xadmin.js"></script>
<script type="text/javascript" src="../js/config/config.js"></script>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="main">首页</a> <a
			href="abnormityCar"> <cite>异常设备</cite>
		</a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this" onclick=selectMenu(0)>未处理</li>
				<li onclick=selectMenu(1)>已处理</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<!-- <span class="x-left" style="line-height: 40px">未转账总金额：<span id="totalMoney"></span></span> -->
					<!-- 	<span class="x-right" style="line-height: 40px">共有数据：<span
							id="num"></span> 条
						</span> -->
					<table class="layui-table">
						<colgroup>
							<col width="5%">
							<col width="20%">
							<col width="20%">
							<col width="20%">
							<col width="20%">
							<col width="15%">
						</colgroup>
						<tbody>
							<div class="layui-form-item">
								<span class="x-left"
									style="width: 80%; display: inline-block; word-wrap: break-word; white-space: normal; color: red;">注意：以下设备已离线超过48小时！请及时与车主联系</span>
							</div>
							<span class="x-right" style="line-height: 40px">共有数据：<span
								id="num"></span> 条
							</span>
							<tr>
								<td>
									<button class="layui-btn queryBtn" title="0">
										<i class="iconfont">&#xe6ac;</i> 查询
									</button>
								</td>
								<td><input type="text" id="contactName"
									placeholder="请输入车主姓名" autocomplete="off" class="layui-input">
								</td>
								<td><input type="text" id="phone"
									placeholder="请输入手机号" autocomplete="off" class="layui-input">
								</td>
								<td><input type="text" id="plateNum"
									placeholder="请输入车牌" autocomplete="off" class="layui-input">
								</td>
								<td><input type="text" id="sponsorName"
									placeholder="请输入保荐方名称" autocomplete="off" class="layui-input">
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<div id="content">
						<table class="layui-table">
							<thead>
								<tr>
									<th>车主</th>
									<th>手机</th>
									<th>车牌</th>
									<th>设备号</th>
									<th>所属车队</th>
									<th>所属保荐方</th>
									<th>异常时间</th>
									<th>操作</th>
									<!-- <th>注册日期</th> -->
								</tr>
							</thead>
							<tbody id="listBox">

							</tbody>
						</table>
					</div>
					<div class="page" id="page"></div>
				</div>
				<div class="layui-tab-item">
					<!-- <span class="x-left" style="line-height: 40px">已转账总金额：<span id="totalMoney1"></span></span> -->
					<span class="x-right" style="line-height: 40px">共有数据：<span
						id="num1"></span> 条
					</span>
					<table class="layui-table">
						<colgroup>
							<col width="5%">
							<col width="20%">
							<col width="20%">
							<col width="20%">
							<col width="20%">
							<col width="15%">
						</colgroup>
					</table>
					<div id="content">
						<table class="layui-table">
							<thead>
								<tr>
									<th>车主</th>
									<th>手机</th>
									<th>车牌</th>
									<th>设备号</th>
									<th>所属车队</th>
									<th>所属保荐方</th>
									<th>异常时间</th>
									<th>处理时间</th>
									<th>原因</th>
									<!-- <th>注册日期</th> -->
								</tr>
							</thead>
							<tbody id="listBox1">
							<tr>
								<td>
									<button class="layui-btn queryBtn" title="1">
										<i class="iconfont">&#xe6ac;</i> 查询
									</button>
								</td>
								<td><input type="text" id="contactName"
									placeholder="请输入车主姓名" autocomplete="off" class="layui-input">
								</td>
								<td><input type="text" id="phone"
									placeholder="请输入手机号" autocomplete="off" class="layui-input">
								</td>
								<td><input type="text" id="plateNum"
									placeholder="请输入车牌" autocomplete="off" class="layui-input">
								</td>
								<td><input type="text" id="sponsorName"
									placeholder="请输入保荐方名称" autocomplete="off" class="layui-input">
								</td>
								<td></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="page" id="page1"></div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var curPage = 1;
		var pageSize = 10;
		var total = 0;
		var token = getCookie('token');
		var contactName;
		var phone;
		var plateNum;
		var sponsorName;
		var curType = 0;
		var typeNo;//限号状态
		var laypage;
		var value;
		layui.use('laypage', function() {
			laypage = layui.laypage;
			//执行一个laypage实例
		});
		getData(curPage,curType)
		function getData(curPage, type) {
			contactName = $("#contactName").val();
			phone = $("#phone").val();
			plateNum = $("#plateNum").val();
			sponsorName = $("#sponsorName").val();
			$.ajax({
				headers : {
					"token" : token
				},
				dataType : 'JSON',
				url : api + 'car/getAbnormityCarList',
				type : 'post',
				data : {
					version : version,
					curPage : curPage,
					pageSize : pageSize,
					contactName : contactName,
					phone : phone,
					plateNum : plateNum,
					sponsorName : sponsorName,
					status: type
				},
				success : function(res) {
					if (res.success == true) {
						if (res.data == null) {
							$('#listBox,#listBox1').html("");
							$('#num,#num1').html(0);
							layer.msg(res.message);
						} else {
							var data = res.data.resultList
							var list = ''
							for (var i = 0; i < data.length; i++) {
								if (data[i].carCaptainName == null) {
									data[i].carCaptainName = ' ';
								}
								
								if(type==0){
									list += "<tr>"
										+ "<td>"+ data[i].name +"</td>"
										+ "<td>"+ data[i].phone + "</td>"
										+ "<td>"+ data[i].carNumber+ "</td>"
										+ "<td>"+ data[i].imei+ "</td>"
										//所属车队
										+ "<td>"+ data[i].carCaptainName + "</td>" 
										 //所属保荐方
										+ "<td>"+ data[i].sponsorName + "</td>"
										 //异常时间
										+ "<td>" + data[i].onLineTime + "-" + data[i].offLineTime + "</td>"
										+ "<td>" + "<button class='layui-btn' onclick='fail(" + data[i].id + ", 1 )'>处理异常车辆</button>" + "</td>"
										+ "</tr>"
								}
								if(type==1){
									list += "<tr>"
										+ "<td>"+ data[i].name +"</td>"
										+ "<td>"+ data[i].phone + "</td>"
										+ "<td>"+ data[i].carNumber+ "</td>"
										+ "<td>"+ data[i].imei+ "</td>"
										//所属车队
										+ "<td>"+ data[i].carCaptainName + "</td>"
										 //所属保荐方
										+ "<td>"+ data[i].sponsorName + "</td>"
										 //异常时间
										+ "<td>" + data[i].onLineTime + "-" + data[i].offLineTime + "</td>"
										+ "<td>" + data[i].contactTime + "</td>"
										+ "<td>" + data[i].remark + "</td>"
										+ "</tr>"
								}
							}
							if(type==0){
								$('#listBox').html(list);
								$('#num').html(res.data.totalCount);
								laypage.render({
									elem : 'page', //注意，这里的 test1 是 ID，不用加 # 号
									count : res.data.totalCount, //数据总数，从服务端得到
									limit : pageSize,
									curr : curPage,
									jump : function(obj, first) {
										if (!first) {
											getData(obj.curr,type);
										}
									}
								});
							}else if(type==1){
								$('#listBox1').html(list);
								$('#num1').html(res.data.totalCount);
								laypage.render({
									elem : 'page1', //注意，这里的 test1 是 ID，不用加 # 号
									count : res.data.totalCount, //数据总数，从服务端得到
									limit : pageSize,
									curr : curPage,
									jump : function(obj, first) {
										if (!first) {
											getData(obj.curr,type);
										}
									}
								});
							}
						}
					} else {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'
						});
						if (res.code == 403) {
							window.location.href = api + "page/403";
						}
						if (res.code == 504) {
							top.location.href = api + "page/login";
						}
					}
				},
				error : function() {
					layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
				},
			})
		}

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i].trim();
				if (c.indexOf(name) == 0)
					return c.substring(name.length, c.length);
			}
			return "";
		}
		function fail(id,status) {
			layer.prompt({
				formType: 0,
			  	value: '',
			  	title: '请记录处理结果'
			}, function(value,index){
				$.ajax({
					headers:{
					 	"token": token
					},
					dataType : 'JSON',
					url : api + 'car/confirmAbnormityDevice',
					type : 'post',
					data : {
						version : version,
						id : id,
						status : status,
						remark : value
					},
					success : function(res) {
						layer.msg(res.message, {
							icon : 1,
							time : 1000
						});
						if (res.success == true) {
							setTimeout(function() {
								window.history.go(0);
							}, 2000)
						}else {
							layer.open({
			               		  content: res.message,
			               		  time: 3000,
			               		  title:'提示',
			               		  anim:1,
			               		  skin:'demo-class'
			               	});
							if(res.code == 403){
								window.location.href = api + "page/403";
							}
							if(res.code == 504){
								top.location.href = api + "page/login";
							}
						}
					},
					error : function() {
						layer.msg('网络错误', {
							icon : 5,
							time : 1500
						});
					},
				})
			});
		}
		
		function selectMenu(menu){
	    	curPage = 1;
	    	curType = menu;
	    	getData(curPage,curType);
	    }
		
		function deviceUntie(id) {
			if (id) {
				location.href = api + 'page/deviceUntie?id=' + id
			}
		}

		$(".queryBtn").click(function() {
			getData(curPage,$(this).attr('title'));
		})
	</script>

</body>

</html>