<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>录入车辆</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/xadmin.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/qiniu.min.js"></script>
	<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/xadmin.js"></script>
	<script type="text/javascript" src="../js/config/config.js"></script>
	<style>
	.row-cell-class {
		padding-top: 50px,
	}
	</style>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="main">首页</a> <a
			href="users">用户列表</a> <a id="userInfo">用户信息绑定</a> <a
			href="insertAgent"><cite>录入车辆</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i>
		</a>
	</div>
	<div class="x-body">
		<div class="layui-form-item">
			<label class="layui-form-label">保荐方</label>
			<div class="layui-input-block">
				<select id="sponsorId" class="layui-input"></select>
			</div>
			<!-- <div class="layui-input-inline">
				<select id="sponsor" lay-verify="required" lay-search=""></select>
			</div> -->
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">车牌号</label>
			<div class="layui-input-block">
				<input type="text" id="carNumber" name="carNumber" required
					lay-verify="required" placeholder="请输入车牌号" autocomplete="off"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">品牌</label>
			<div class="layui-input-block">
				<input type="text" id="carType" name="carType" required
					lay-verify="required" placeholder="请输入车品牌" autocomplete="off"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">出厂日期</label>
			<div class="layui-input-block">
				<input type="text" id="birthDate" placeholder="请选择日期"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">行驶证</label>
			<div class="layui-input-block">
				<input type="file" id="partFile" name="partFile" autocomplete="off"
					class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button id="sumbit-btn" class="layui-btn" lay-submit lay-filter="*">立即提交</button>
			</div>
		</div>
	</div>
	<script>
		var index = 1;
		var size = 1;
		var total = 0;
		var token = getCookie('token');
		var curWwwPath = window.document.location.href;
		var idParam = curWwwPath.split("?")[1];
		var userId = idParam.split("=")[1];
		var sponsorId;
		var carNumber;
		var carType;
		var birthDate;
		var partFileKey;
	    $("#userInfo").attr("href","insertUsersBlock?id="+ userId);
		layui.use('laydate', function(){
	  	  var laydate = layui.laydate;
	  	  
	  	  //执行一个laydate实例
	  	  laydate.render({
	  	    elem: '#birthDate' //指定元素
	  	  });
	  	});
		
		 $(function() {// 初始化内容
			$.ajax({
				headers:{
				 	"token": token
				},
				dataType : 'JSON',
				url : api + 'backstageHandleData/getSponsorList',
				type : 'post',
				data : {
					version : version,
				},
				success : function(res) {
					if (res.success == true) {
						var sponsorList = res.data
						var sponsor = ''
						for (var i = 0; i < sponsorList.length; i++) {
							sponsor += "<option value='"+sponsorList[i].id+"'>"
									+ sponsorList[i].company + "</option>"
						}
						$('#sponsorId').html(sponsor);
					} else {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'
						});
						if(res.code == 403){
							window.location.href = api + "page/403";
						}
						if(res.code == 504){
							top.location.href = api + "page/login";
						}
					}
				},
				error : function() {
					layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
				},
			})
		 });
	
		
		
		 //用于生成uuid
	    function S4() {
	        return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
	    }
	    function guid() {
	        return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
	    }
	    // 获取key
	    function getPartFileKey() {
	    	var files = $('input[name="partFile"]').prop('files');
	    	var dir = "tmp/";
			var end = files[0].name.split('.').splice(-1);
			var key =  dir + "cegz"+ guid() + "." + end;
	    	return key;
	    }
	    // 校验图片大小
	    
	    function checkFile() {
	    	var partFileFiles = $('input[name="partFile"]').prop('files');
			if (partFileFiles.length == 0) {
				layer.open({
					content : '请选择行驶证文件',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
				return false;
			}
	    	var size = partFileFiles[0].size / 1024;
	    	if (size > 1024) {
	    		layer.open({
					content : '行驶证图片大小不能超过1M',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
	    		return false
	    	}
	    	return true
	    }
		// 上传图片
		// 上传配置
		var config = {
			useCdnDomain: true,
			region: qiniu.region.z0
		}
		var submitSort = 0;
		// 上传回调
		var observer = {
			next(res){
			},
			error(err){
			}, 
			complete(res){
			  submitData(partFileKey);
			}
		}
		// 上传设置
		var putExtra = {
				  fname: "",
				  params: {},
				  mimeType:["image/png", "image/jpeg", "image/gif"]
				};
		function uploadImage(file, token, key, call) {	
			// 上传开始
			var observable = qiniu.upload(file, key, token, putExtra, config);
		    var subscription = observable.subscribe(observer) 
		}	
	    // 获取token
		function getToken(){
			$.ajax({
				headers:{
				 	"token": token
				},
				dataType : 'JSON',
				url : api + 'auth/getUpToken',
				type : 'post',
				data : {
					version : version,
				},
				success : function(res) {
					if (res.success) {
						var token = res.data;
						var partFileFiles = $('input[name="partFile"]').prop('files');
						// 校验行驶证图片
						if (checkFile()) {
							partFileKey = getPartFileKey();
							// 上传行驶证图片
							uploadImage(partFileFiles[0], token, partFileKey);							
						}
					}else {
						layer.open({
		               		  content: res.message,
		               		  time: 3000,
		               		  title:'提示',
		               		  anim:1,
		               		  skin:'demo-class'
		               	});
						if(res.code == 403){
							window.location.href = api + "page/403";
						}
						if(res.code == 504){
							top.location.href = api + "page/login";
						}
					}
				}
			});
		}
	    function message(text) {
	    	layer.open({
				content : text,
				time : 3000,
				title : '提示',
				anim : 1,
				skin : 'demo-class'

			});
	    }
	    // 提交数据事件
		$("#sumbit-btn").click(function(){
			
			sponsorId = $("#sponsorId").val();
			carNumber = $("#carNumber").val();
			carType = $("#carType").val();
			birthDate = $("#birthDate").val();
		    if (sponsorId == "") {
		    	message("保荐方不能为空");return;
		    }
		    if (carNumber == "") {
		    	message("车牌不能为空");return;
		    }
		    if (carType == "") {
		    	message("品牌不能为空");return;
		    }
		    if (birthDate == "") {
		    	message("出厂日期不能为空");return;
		    }
			getToken();
		})
		
		// 提交数据
		function submitData(partFileKey) {
			$.ajax({
				headers:{
				 	"token": token
				},
				dataType : 'JSON',
				url : api + 'backstageHandleData/insertDrivingRegistration',
				type : 'post',
				data : {
					userId : userId,
					version : version,
					partFile : partFileKey,
					carNumber : carNumber,
					birthDate : birthDate,
					sponsorId : sponsorId,
					carType : carType
				},
				success : function(res) {
					if (res.success == true) {
						layer.msg(res.message, {
						  time : 0, //不自动关闭
						  title : '提示',
						  anim : 1,
						  skin : 'demo-class',
						  btn : ['确定'],
						  yes : function(index){
						    layer.close(index);
						    /* window.location.reload(); */
						    window.history.go(-1);
						  }
						});
					} else {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'
						});
						if(res.code == 403){
							window.location.href = api + "page/403";
						}
						if(res.code == 504){
							top.location.href = api + "page/login";
						}
					}
				},
				error : function() {
					layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
				},
			})
		}

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i].trim();
				if (c.indexOf(name) == 0)
					return c.substring(name.length, c.length);
			}
			return "";
		}
	</script>
</body>
</html>