<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>名下详情</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../css/font.css">
<link rel="stylesheet" href="../css/xadmin.css">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/xadmin.js"></script>
<script type="text/javascript" src="../js/config/config.js"></script>

</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="main">首页</a> <a
			href="sponsors"> <cite>保荐方列表</cite>
		</a>
		 <a href="#"> <cite>名下详情</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<span id="top" class="x-right" style="line-height: 40px">共有数据：0
			条</span>
		<table class="layui-table">
			<colgroup>
				<col width="5%">
				<col width="20%">
				<col width="20%">
				<col width="55%">
			</colgroup>
			<tbody>
				<tr>
					<td><button class="layui-btn" id="queryBtn">查&nbsp;询</button></td>
					<td><input type="text" id="nameInput" placeholder="请输入姓名"
						autocomplete="off" class="layui-input"></td>
					<td><input type="text" id="phoneInput" placeholder="请输入手机号"
						autocomplete="off" class="layui-input"></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<div id="content">
			<table class="layui-table">
				<thead>
					<tr>
						<th>车主姓名</th>
						<th>车牌号</th>
						<th>车主电话</th>
						<th>录入系统时间</th>
						<th>广告数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="body">

				</tbody>
			</table>
		</div>
		<div class="page" id="page"></div>
	</div>
	<script>
		var index = 1;
		var size = 10;
		var total = 0;
		var token = getCookie('token');
		var curWwwPath = window.document.location.href;
        var idParam= curWwwPath.split("?")[1];
        var sponsorId = idParam.split("=")[1];
		var name;
		var phone;
		
		function getData(index, size) {
			name = $("#nameInput").val();
			phone = $("#phoneInput").val();
			$.ajax({
				headers:{
				 	"token": token
				},
				dataType : 'JSON',
				url : api + 'backstageQueryData/sponsorDetail',
				type : 'post',
				data : {
					version : version,
					curPage : index,
					pageSize : size,
					id : sponsorId,
					name : name,
					phone : phone
				},
				success : function(res) {
					if (res.success == true) {
						if (res.data == null) {
							$("#body").html("");
                			$("#top").html("共有数据：0条");
                			layer.open({
    							content : res.message,
    							time : 3000,
    							title : '提示',
    							anim : 1,
    							skin : 'demo-class'
    						});
						} else {
							$("#top").html("共有数据：" + res.data.totalCount + "条");
							createUserId = res.data.createUserId;
							
							var html = ""
							$.each(res.data.result, function(index, data) {
								
								var advertisementDetail;
								if (data.deviceOnLineDetail == null) {
									advertisementDetail = "";
								}else{
									advertisementDetail = "<button class='layui-btn' onclick='advertisementDetail("+data.id+")'>广告详情</button>";
								}
								
								html += 
									"<tr>" + 
									"<td>" + data.name + "</td>" + 
									"<td>" + data.plateNumber + "</td>" + 
									"<td>" + data.phone + "</td>" + 
									"<td>" + data.createTime + "</td>" + 
									//获取广告数量
                					"<td>" + data.carryAdvertisementNum + "</td>" + 
                					"<td>" + advertisementDetail + "</td>" +
									"</tr>";
							});
							$("#body").html("");
							$("#body").html(html);
							// 分页条
							laypage.render({
								elem : 'page',
								count : res.data.totalCount, //数据总数，从服务端得到
								limit : size,
								curr : index,
								jump : function(obj, first) {
									if (!first) {
										getData(obj.curr, obj.limit);
									}
								}
							});
						}
					} else {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'

						});
						if(res.code == 403){
							window.location.href = api + "page/403";
						}
						if(res.code == 504){
							top.location.href = api + "page/login";
						}
					}

				},
				error : function() {
					layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
				},

			})
		}
		var laypage;
		layui.use('laypage', function() {
			laypage = layui.laypage;

			//执行一个laypage实例

		});
		getData(index, size);

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i].trim();
				if (c.indexOf(name) == 0)
					return c.substring(name.length, c.length);
			}
			return "";
		}
		$("#queryBtn").click(function() {
			getData(index, size);
		})
		
		function advertisementDetail(id) {
			if (id) {
				location.href = api + 'page/sponsorsDetailAdvertisement?id=' + id;
				sessionStorage.setItem("sponsorId", sponsorId);
			}else {
				layer.open({
					content : "缺少车辆id",
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
			}
		}
	</script>

</body>

</html>