<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/xadmin.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/xadmin.js"></script>
	<script type="text/javascript" src="../js/config/config.js"></script>
</head>
<body class="login-bg">

	<div class="login layui-anim layui-anim-up">
		<div class="message">修改密码</div>
		<input name="username" type="text" readonly="readonly"
			class="layui-input" id="username"> <input name="password"
			placeholder="密码" type="password" class="layui-input" id="password">
		<input name="confirmPassWord" placeholder="确认密码" type="password"
			class="layui-input" id="confirmPassWord"> <input
			name="validateCode" type="text" placeholder="验证码" class="layui-input"
			id="validateCode"> <input value="获取验证码" class="x-right"
			style="width: 40%;" type="submit" onclick="getValidateCode(this)">
		<hr>
		<hr>
		<input value="提交" style="width: 100%;" type="submit"
			onclick="submitGet()">
	</div>

	<script>
		var layer = layui.layer;

		var userName = sessionStorage.getItem("adminName");
		$("#username").val(userName);

		function getValidateCode(val) {
			var username = $('#username').val()
			if (username == "" || username == null) {
				layer.open({
					content : '用户名为空，请刷新后重试',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
			}
			$.ajax({
				dataType : 'JSON',
				url : api + 'auth/getCode',
				type : 'post',
				data : {
					version : version,
					phone : username,
				},
				success : function(res) {
					if (res.success == true) {
						settime(val)
					} else {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'
						});
					}
				},
				error : function() {
					layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
				},
			})
		}

		function submitGet() {
			var username = $('#username').val()
			var password = $('#password').val()
			var confirmPassWord = $('#confirmPassWord').val()
			var validateCode = $('#validateCode').val()
			if (username == "" || username == null) {
				layer.open({
					content : '用户名不能为空',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
			}
			if (password == "" || password == null) {
				layer.open({
					content : '密码不能为空',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
			}
			if (confirmPassWord == "" || confirmPassWord == null) {
				layer.open({
					content : '确认密码不能为空',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
			}
			if (validateCode == "" || validateCode == null) {
				layer.open({
					content : '验证码不能为空',
					time : 3000,
					title : '提示',
					anim : 1,
					skin : 'demo-class'
				});
			}
			$.ajax({
				dataType : 'JSON',
				url : api + 'user/updatePassWord',
				type : 'post',
				data : {
					version : version,
					userName : username,
					passWord : password,
					confirmPassWord : confirmPassWord,
					validateCode : validateCode,
				},
				success : function(res) {
					if (res.success == true) {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'
						});
						setTimeout(function() {
							$.ajax({
								dataType : 'JSON',
								url : api + 'user/loginOut',
								type : 'post',
								data : {
									version : version,
								},
								success : function(res) {
									top.location.href = api + "page/login";
								},
								error : function() {
									layer.msg('网络错误', {
										icon : 5,
										time : 1500
									});
								},
							})
						}, 2000)
					} else {
						layer.open({
							content : res.message,
							time : 3000,
							title : '提示',
							anim : 1,
							skin : 'demo-class'
						});
					}
				},
				error : function() {
					layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
				},
			})
		}

		var countdown = 60;
		function settime(val) {
			if (countdown == 0) {
				val.removeAttribute("disabled");
				val.value = "获取验证码";
				countdown = 60;
			} else {
				val.setAttribute("disabled", true);
				val.value = "重新发送(" + countdown + ")";
				countdown--;
				setTimeout(function() {
					settime(val)
				}, 1000)
			}
		}
	</script>
</body>
</html>