<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>发票详情</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/xadmin.css">
	<script type="text/javascript" src="../js/xadmin.js"></script>
	<script src="../lib/layui/layui.js" charset="utf-8"></script>
	<script src="../js/config/config.js"></script>
</head>
<body>
	<div class="x-body layui-anim layui-anim-up">
		<span class="layui-breadcrumb">
			<a href="main">首页</a>
			<a href="invoiceList"><cite>发票申请列表</cite></a>
			<a href="#"><cite>发票详情</cite></a>
		</span>
		<a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height: 30px">ဂ</i>
		</a>

		<fieldset class="layui-elem-field">
			<legend>详情</legend>
			<div class="layui-field-box">
				<table class="layui-table">
					<tbody>
						<tr>
							<th>申请人账号</th>
							<td>
								<input type="text" id="createPerson" autocomplete="off" class="layui-input" style="width: 50%" readonly="readonly">
							</td>
						</tr>
						<tr>
							<th>申请时间</th>
							<td>
								<input type="text" id="createTime" autocomplete="off" class="layui-input" style="width: 50%" readonly="readonly">
							</td>
						</tr>
						<tr>
							<th>发票金额</th>
							<td>
								<input type="text" id="money" autocomplete="off" class="layui-input" style="width: 50%" readonly="readonly">
							</td>
						</tr>
						<tr>
							<th>发票图片</th>
							<td>
								<img id="img">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
	<div class="x-body layui-anim layui-anim-up"></div>
	<script>
		var ck = getCookie('token');
		var curWwwPath = window.document.location.href;
		var idParam = curWwwPath.split("?")[1];
		var id = idParam.split("=")[1];
		
		//执行一个laydate实例
		layui.use('laydate', function(){
			var laydate = layui.laydate;
			laydate.render({
				elem: '#birthDate' //指定元素
			});
		});

		$.ajax({
			headers:{
			 	"token": ck
			},
			dataType : 'JSON',
			url : api + 'invoice/getInvoiceById',
			type : 'post',
			data : {
				version : version,
				id : id
			},
			success : function(res) {
				if (res.success == true) {
					var data = res.data.view
					$('#createPerson').val(data.createPerson);
					$('#createTime').val(data.createTime);
					$('#money').val(data.money);
					var imgUrls = data.imgUrl;
					if(imgUrls != null && imgUrls != ''){
						var imgArr = imgUrls.split(",");
						for (var i = 0; i < imgArr.length; i++) {
							var imgShow = '<img width="300px;" height="200px;" src=' + imgArr[i] + '>&emsp;&emsp;';
							$('#img').parent().append(imgShow); // 追加新元素
						}
					}
				}else {
					layer.open({
	               		  content: res.message,
	               		  time: 3000,
	               		  title:'提示',
	               		  anim:1,
	               		  skin:'demo-class'
	               	});
					if(res.code == 403){
						window.location.href = api + "page/403";
					}
					if(res.code == 504){
						top.location.href = api + "page/login";
					}
				}
			},
			error : function() {
				layer.msg('网络错误', {
					icon : 5,
					time : 1500
				});
			},
		})
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i].trim();
				if (c.indexOf(name) == 0)
					return c.substring(name.length, c.length);
			}
			return "";
		}
		
		function message(text) {
	    	layer.open({
				content : text,
				time : 3000,
				title : '提示',
				anim : 1,
				skin : 'demo-class'

			});
	    }
	</script>
</body>
</html>