<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>积分兑换记录</title>
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/xadmin.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/xadmin.js"></script>
	<script type="text/javascript" src="../js/config/config.js"></script>
</head>
<script>
</script>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="main">首页</a>
			<a href=#>积分兑换记录</a>
		</span>
		<a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height: 30px">ဂ</i>
		</a>
	</div>
	<div class="x-body">
		<span class="x-right" style="line-height: 40px">共有数据：<span id="num"></span> 条</span>
		<table class="layui-table">
			<colgroup>
				<col width="5%">
				<col width="20%">
				<col width="20%">
				<col width="10%">
				<col width="45%">
			</colgroup>
			<tbody>
				<tr>
					<td><button class="layui-btn" id="queryBtn">查&nbsp;询</button></td>
					<td>
						<input type="text" id="phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">
					</td>
					<td>
						<input type="text" id="name" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
					</td>
					<td><select id="typeNo" class="layui-input">
							<option value="">全部</option>
							<option value="001">已兑换</option>
							<option value="002">未兑换</option>
					</select></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table class="layui-table">
			<thead>
				<tr>
					<th>申请时间</th>
					<th>微信名</th>
					<th>手机号</th>
					<th>商品名称</th>
					<th>所需积分</th>
					<th>剩余积分</th>
					<th>操作时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="listBox">

			</tbody>
		</table>
		<div class="page" id="page"></div>
	</div>
	<script>
	    var ck = getCookie('token');
	    var curPage=1;
	    var pageSize=10;
	    var laypage;
	    var phone;
	    var name;
	    var typeNo;
	    
		layui.use('laypage', function() {
			laypage = layui.laypage;
			//执行一个laypage实例
		});
	    getData(curPage);
	    function getData(curPage){
	    	phone = $("#phone").val();
	    	name = $("#name").val();
	    	typeNo = $("#typeNo").val();
		    $.ajax({
		    	headers:{
				 	"token": ck
				},
		        dataType:'JSON',
		        url:api+'integralExchange/getIntegralGoodsRecordList',
		        type:'post',
		        data:{
			        	curPage : curPage,
			        	pageSize : pageSize,
			            version : version,
			            phone : phone,
			            name : name,
			            typeNo : typeNo
		            },
		        success: function (res) {
					if(res.success==true){
						if(res.data==null){
							$('#listBox').html("");
							$('#num').html(0);
							laypage.render({
			                    elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
			                    count: 0, //数据总数，从服务端得到
			                });
							layer.msg(res.message);
						}else{
							var data=res.data.list
			                var list=''
							for(var i =0;i<data.length;i++){
								var untie = "";
								if(data[i].isDeleted == 0){
									untie = "<td><button class='layui-btn' onclick='untie("+data[i].id+")'>兑换成功</button></td>";
								}else{
									untie = "<td>已兑换</td>";
								}
								if(data[i].updateTime == null){
									data[i].updateTime = "";
								}
								list+=
								"<tr>"+
								"<td>"+data[i].createTime+"</td>"+
								"<td>"+data[i].wXName+"</td>"+
								"<td>"+data[i].phone+"</td>"+
								"<td>"+data[i].goodsName+"</td>"+
								"<td>"+data[i].needNumber+"</td>"+//所需积分
								"<td>"+data[i].usableNumber+"</td>"+//可用积分
								"<td>"+data[i].updateTime+"</td>"+
								untie +
								"</tr>"
							}
			                $('#listBox').html(list);
							$('#num').html(res.data.total);
		
			                laypage.render({
			                    elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
			                    count: res.data.total, //数据总数，从服务端得到
			                    limit: pageSize,
			                    curr:curPage,
			                    jump: function(obj, first) {
			                        if (!first) {
			                            getData(obj.curr);
			                        }
			                    }
			                });
						}
					}else{
						layer.open({
		               		  content: res.message,
		               		  time: 3000,
		               		  title:'提示',
		               		  anim:1,
		               		  skin:'demo-class'
		               	});
						if(res.code == 403){
							window.location.href = api + "page/403";
						}
						if(res.code == 504){
							top.location.href = api + "page/login";
						}
					}
		        },
		        error: function () {
		        	layer.msg('网络错误', {
						icon : 5,
						time : 1500
					});
		        },
		    })
	    }
	    //兑换成功弹窗
	    function untie(id){
	  	   layer.confirm('完成该用户兑换操作？', function(index) {
	 			$.ajax({
	 				headers:{
	 				 	"token": ck
	 				},
	 				dataType : 'JSON',
	 				url : api + 'integralExchange/confirmExchange',
	 				type : 'post',
	 				data : {
	 					version : version,
	 					id : id
	 				},
	 				success : function(res) {
	 					layer.msg(res.message, {
	 						icon : 1,
	 						time : 1000
	 					});
	 					if (res.success == true) {
	 						setTimeout(function() {
	 							window.history.go(0);
	 						}, 2000)
	 					}else {
	 						layer.open({
	 		               		  content: res.message,
	 		               		  time: 3000,
	 		               		  title:'提示',
	 		               		  anim:1,
	 		               		  skin:'demo-class'
	 		               	});
	 						if(res.code == 403){
	 							window.location.href = api + "page/403";
	 						}
	 						if(res.code == 504){
	 							top.location.href = api + "page/login";
	 						}
	 					}
	 				},
	 				error : function() {
	 					layer.msg('网络错误', {
	 						icon : 5,
	 						time : 1500
	 					});
	 				},
	 			})
	 		});
	     }
		$("#queryBtn").click(function() {
			getData(curPage, pageSize);
		})
	    
	    function getCookie(cname) {
	        var name = cname + "=";
	        var ca = document.cookie.split(';');
	        for(var i=0; i<ca.length; i++)
	        {
	            var c = ca[i].trim();
	            if (c.indexOf(name)==0) return c.substring(name.length,c.length);
	        }
	        return "";
	    }
    </script>
</body>

</html>