<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>劵类型列表</title>
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/xadmin.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/xadmin.js"></script>
	<script type="text/javascript" src="../js/config/config.js"></script>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="main">首页</a> <a
			href="ticketTypeList">劵类型列表</a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">

		<span class="x-right" style="line-height: 40px">共有数据：<span
			id="num"></span> 条
		</span>
		<table class="layui-table">
			<colgroup>
				<col width="5%">
				<col width="20%">
				<col width="5%">
				<col width="70%">
			</colgroup>
			<tbody>
				<tr>
					<td><button class="layui-btn" id="queryBtn">
							<i class="iconfont">&#xe6ac;</i> 查询
						</button></td>
					<td><input type="text" id="nameInput" placeholder="请输入名称"
						autocomplete="off" class="layui-input"></td>
					<td>
						<button id="addTicketType" class="layui-btn">
							<i class="iconfont">&#xe6b9;</i>添加
						</button>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table class="layui-table">
			<thead>
				<tr>
					<th>劵类型名称</th>
					<th>劵类型说明</th>
					<th>劵类型编号</th>
					<th>创建时间</th>
					<th>操作</th>
			</thead>
			<tbody id="listBox">

			</tbody>
		</table>
		<div class="page" id="page"></div>
	</div>
	<script>
	    var ck = getCookie('token');
	    var curPage=1;
	    var pageSize=10;
	    var name;
	
	    var laypage;
	    layui.use('laypage', function(){
	        laypage = layui.laypage;
	
	        //执行一个laypage实例
	
	    });
	    getData(curPage)
	    function getData(curPage){
	    	name = $("#nameInput").val();
		    $.ajax({
		    	headers:{
				 	"token": ck
				},
		        dataType:'JSON',
		        url:api+'ticket/getTicketTypeList',
		        type:'post',
		        data:{
		            version:version,
					curPage:curPage,
					pageSize:pageSize,
					name:name
		            },
		        success: function (res) {
					if(res.success==true){
						if(res.data==null){
							$('#listBox').html("");
							$('#num').html(0);
							laypage.render({
			                    elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
			                    count: 0, //数据总数，从服务端得到
			                });
	    					layer.msg(res.message);
						}else{
							var data=res.data.resultList
			                var list=''
							for(var i =0;i<data.length;i++){
								if(data[i].remark == null){
									data[i].remark = '';
								}
								list+=
								"<tr>"+
								"<td>"+data[i].name+"</td>"+
								"<td>"+data[i].remark+"</td>"+
								"<td>"+data[i].ticketTypeNo+"</td>"+
								"<td>"+data[i].createTime+"</td>"+
								"<td><button class='layui-btn' onclick='edit("+data[i].id+")'><i class='iconfont'>&#xe69e;</i>修改</button></td>"+
								"</tr>"
							}
			                $('#listBox').html(list)
							$('#num').html(res.data.totalCount)
		
			                laypage.render({
			                    elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
			                    count: res.data.totalCount, //数据总数，从服务端得到
			                    limit: pageSize,
			                    curr:curPage,
			                    jump: function(obj, first) {
			                        if (!first) {
			                            getData(obj.curr);
			                        }
			                    }
			                });
						}
					} else {
						layer.open({
		               		  content: res.message,
		               		  time: 3000,
		               		  title:'提示',
		               		  anim:1,
		               		  skin:'demo-class'
		               	});
						if(res.code == 403){
							window.location.href = api + "page/403";
						}
						if(res.code == 504){
							top.location.href = api + "page/login";
						}
					}
		        },
		        error: function () {
		        },
		    })
	    }
	    
	    function edit(id){
	        if(id){
	            location.href=api+'page/insertTicketType?id='+id
	        }
	    }
	
	    function getCookie(cname)
	    {
	        var name = cname + "=";
	        var ca = document.cookie.split(';');
	        for(var i=0; i<ca.length; i++)
	        {
	            var c = ca[i].trim();
	            if (c.indexOf(name)==0) return c.substring(name.length,c.length);
	        }
	        return "";
	    }
	    
	    $("#queryBtn").click(function (){
	    	getData(curPage);
	    })
	    $("#addTicketType").click(function() {
	    	   location.href = api + "page/insertTicketType"
	    })
    </script>
</body>
</html>