<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>劵信息</title>
    <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../css/font.css">
	<link rel="stylesheet" href="../css/xadmin.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/xadmin.js"></script>
	<script type="text/javascript" src="../js/config/config.js"></script>
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="main">首页</a> <a
			href="shopUsers">用户列表</a> <a href="#">劵信息</a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">

		<span class="x-right" style="line-height: 40px">共有数据：<span
			id="num"></span> 条
		</span>
		<table class="layui-table">
			<colgroup>
				<col width="5%">
				<col width="20%">
				<col width="50%">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<!-- <td><button class="layui-btn" id="queryBtn">查&nbsp;询</button></td>
				<td><input type="text" id="nameInput" placeholder="请输入名称" autocomplete="off" class="layui-input"></td>
				劵类型
				<td>
					<select id="ticketTypeId" class="layui-input">
					</select>
				</td>
				<td>
				    <button id="addTicket" class="layui-btn">
							<i class="iconfont">&#xe6b9;</i>添加
				 	</button>
				</td> -->
				</tr>
			</tbody>
		</table>
		<table class="layui-table">
			<thead>
				<tr>
					<th>优惠券名称</th>
					<th>优惠券类型</th>
					<th>编号</th>
					<th>状态</th>
					<th>领取时间</th>
					<th>使用时间</th>
					<th>有效期</th>
			</thead>
			<tbody id="listBox">

			</tbody>
		</table>
		<div class="page" id="page"></div>
	</div>
</body>
<script>
	var ck = getCookie('token');
	var curPage = 1;
	var pageSize = 10;

	var curWwwPath = window.document.location.href;
	var idParam = curWwwPath.split("?")[1];
	var usersId;
	if (idParam != "" && idParam != null) {
		usersId = idParam.split("=")[1];
	}

	var laypage;
	layui.use('laypage', function() {
		laypage = layui.laypage;

		//执行一个laypage实例

	});
	getData(curPage)
	function getData(curPage) {
		$.ajax({
			headers : {
				"token" : ck
			},
			dataType : 'JSON',
			url : api + 'shopUsers/getUsersTicketList',
			type : 'post',
			data : {
				version : version,
				curPage : curPage,
				pageSize : pageSize,
				usersId : usersId
			},
			success : function(res) {
				if (res.success == true) {
					if (res.data == null) {
						$('#listBox').html("");
						$('#num').html(0);
						/* layer.open({
						  content: res.message,
						  time: 3000,
						  title:'提示',
						  anim:1,
						  skin:'demo-class'
						}); */
						layer.msg(res.message);
					} else {
						var data = res.data.resultList
						var list = ''
						for (var i = 0; i < data.length; i++) {
							if (data[i].name == null) {
								data[i].name = '';
							}
							/* 状态，0 未使用，1 已使用，2 已过期 */
							if (data[i].status == 0) {
								data[i].status = '未使用';
							} else if (data[i].status == 1) {
								data[i].status = '已使用';
							} else if (data[i].status == 2) {
								data[i].status = '已过期';
							}
							if (data[i].updateTime == null) {
								data[i].updateTime = '';
							}
							list += "<tr>" + "<td>" + data[i].name + "</td>"
									+ "<td>" + data[i].typeName + "</td>"
									+ "<td>" + data[i].ticketNo + "</td>"
									+ "<td>" + data[i].status + "</td>"
									+ "<td>" + data[i].createTime + "</td>"
									+ "<td>" + data[i].updateTime + "</td>"
									+ "<td>" + data[i].startTime + " ~ "
									+ data[i].endTime + "</td>" + "</tr>"
						}
						$('#listBox').html(list);
						$('#num').html(res.data.totalCount);

						laypage.render({
							elem : 'page', //注意，这里的 test1 是 ID，不用加 # 号
							count : res.data.totalCount, //数据总数，从服务端得到
							limit : pageSize,
							curr : curPage,
							jump : function(obj, first) {
								if (!first) {
									getData(obj.curr);
								}
							}
						});
					}
				} else {
					layer.open({
						content : res.message,
						time : 3000,
						title : '提示',
						anim : 1,
						skin : 'demo-class'
					});
					if(res.code == 403){
						window.location.href = api + "page/403";
					}
					if (res.code == 504) {
						top.location.href = api + "page/login";
					}
				}
			},
			error : function() {
				layer.msg('网络错误', {
					icon : 5,
					time : 1500
				});
			},
		})
	}

	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i].trim();
			if (c.indexOf(name) == 0)
				return c.substring(name.length, c.length);
		}
		return "";
	}

	$("#queryBtn").click(function() {
		getData(curPage);
	})
</script>

</html>